:root {
  --container-background: rgba(240, 218, 20, 0.15);
  --body-background: rgb(255, 255, 255);
  --position: relative;
  --top: -200px;
}

body {
  background-color: var(--body-background);
  font-family: "Times New Roman", Times, serif;
}

.container {
  padding: 15px;
  background-color: var(--container-background);
  box-sizing: border-box;
  margin: auto;
  width: 800px;
  height: 100vh;
}
h1 {
  text-align: center;
}
.image {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 25px;
  position: var(--position);
  top: var(--top);
  left: 500px;
}
a:hover {
  color: red;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
.first-line {
  position: var(--position);
  top: var(--top);
}
.about-me {
  position: var(--position);
  top: var(--top);
}
.skills {
  position: var(--position);
  top: var(--top);
  display: flex;
}
.skills-list {
  position: var(--position);
  top: 20px;
}
.skills-table {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  width: 40%;
  padding: 5px;
  margin-left: 200px;
  position: var(--position);
  top: 20px;
}
.skills-table th,
td {
  border: 1px solid black;
  padding: 1px;
}
.last-line {
  position: var(--position);
  top: -170px;
}
.hobbies {
  position: var(--position);
  top: -180px;
}
.skills-table a {
  text-decoration: none;
}
footer {
  line-height: 5px;
}
.personal-info {
  line-height: 16px;
}
